<!DOCTYPE html>
<html>
    <head>
        <!-- 基本信息 -->
        <title>老年衰弱模型预测</title>
        <meta name="description" content="Transform your photo style without PS !">
        <meta name="keywords" content="AI pku, style transfer, Convolutional Neural Network, Artificial neural networks, 风格迁移, 图像风格迁移">
        <meta name="description" content="Transform your photo style without PS !">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- foundation -->
        <link rel="stylesheet" href="https://deepart-io.s3.amazonaws.com/CACHE/css/1aeb4473ff54.css" type="text/css" />
        <link rel="stylesheet" href="https://deepart-io.s3.amazonaws.com/CACHE/css/44ccd66c877e.css" type="text/css" />
        
        <!-- 提供字体 -->
        <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
        <script type="text/javascript" src="https://deepart-io.s3.amazonaws.com/CACHE/js/ad004c2f14b6.js"></script>
    </head>

    <body>

        <!-- 顶部导航 -->

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- <div class="container-fluid"> -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index" style="font-weight: bold">老年人衰弱模型预测</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/index" style="font-weight: bold; ">模型预测</a></li>
                        <li><a href="/submit">预测结果</a></li>
                        <li><a href="/ref">参考文献</a></li>
                        <li><a href="https://github.com/ShiZhuming/FrailtyPrediction/">开源代码</a></li>
                        <li><a href="/authors">我们的团队</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 主体 -->

        <div class="content-container">
            <div class="container">
                <div class="page-header">
                    <h1>
                    </h1>
                </div>
            </div>

            <div class="container">
                <div>
                    请填写以下信息，所有空均为必填项，然后点击“提交”按钮，即可获得计算结果<br>
                    <br />
                </div>
                <form action="/submit" method="GET" class="form-horizontal" role="form">
                    
                    <!-- 以下是填写信息表的内容,从这里开始增加项目 -->
                    
                    <!-- 下面添加项目时可以直接复制一段div,然后改 -->
                    <!-- 第0种情况,连续型整数变量 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">年龄</label><!-- 把"年龄"改成项目名称,比如"性别" -->
                        <div class="col-sm-10">
                            <input type="number" name="age" class="form-control" placeholder="请填写整数，如:70">
                            <!-- 把name的值改成变量名,比如"gender"等,placeholder的值改成提示语句,比如"填整数" -->
                        </div>
                    </div>
                    <!-- 第0种情况结束 -->

                    <!-- 第1种情况,连续型浮点数变量 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">腰围</label><!-- 改"腰围" -->
                        <div class="col-sm-10">
                            <input type="number" min="0.0" max="100.0" step="0.1"
                                name="waist" class="form-control" placeholder="请填写精确到1位小数，单位为cm，如:60.1">
                            <!-- min max控制上下界,step是精确到，两位小数就填0.01以此类推 -->
                            <!-- 把name的值改成变量名,比如"gender"等,placeholder的值改成提示语句,比如"填1位小数" -->
                        </div>
                    </div>
                    <!-- 第1种情况结束 -->

                    <!-- 第2种情况，选项不多的离散型变量 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label><!-- 改"性别" -->
                        <div class="col-sm-10">
                            <select name="gender"><!-- 把name的值改成变量名 -->
                                <!-- 下面是取值列表，一对一对改，比如男取0，女取1，按照之前约定的从0开始还是从1开始等 -->
                                <option value=0>男</option>
                                <option value=1>女</option>
                            </select>
                        </div>
                    </div>
                    <!-- 第2种情况结束 -->

                    <!-- 第3种情况,选项很多的离散型变量,比如56个民族,这个你留个空写条注释,留给我来写js吧 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">民族</label>
                        <div class="col-sm-10">
                            <select id="nation" name="nationality"></select>
                        </div>
                    </div>

                    <!-- 填写信息表结束,下面是提交按钮等,不要改动 -->

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">提交</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>

        <!-- 底部 -->
        
        <footer id="footer" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h1>我们的团队</h1>
                        <ul class="list-unstyled">
                            <li><a>刘琴琴</a></li>
                            <li><a>于家琪</a></li>
                            <li><a>杨礼铭</a></li>
                            <li><a href="https://github.com/ShiZhuming/">施朱鸣</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h1>开源代码</h1>
                        <a href="https://github.com/ShiZhuming/FrailtyPrediction/" class="btn-social btn-github btn btn-sm"><span class="fa fa-github"></span>Github</a>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h1>备案信息</h1>
                        <ul class="list-unstyled">
                            <li><a href="http://www.beian.miit.gov.cn">icp</a></li>
                            <li><a href="http://http://www.beian.gov.cn/portal/index/">gongan</a></li>
                        </ul>   
                    </div>
                </div>
                
            </div>
        </footer>
    </body>

    <!-- js -->
    <script>
        var nations = ["汉族", "蒙古族", "回族", "藏族", "维吾尔族", "苗族", "彝族", "壮族", "布依族", "朝鲜族", "满族", "侗族", "瑶族", "白族",
            "土家族", "哈尼族", "哈萨克族", "傣族", "黎族", "傈僳族", "佤族", "畲族", "高山族", "拉祜族", "水族", "东乡族", "纳西族", "景颇族", "柯尔克孜族", "土族", 
            "达斡尔族", "仫佬族", "羌族", "布朗族", "撒拉族", "毛南族", "仡佬族", "锡伯族", "阿昌族", "普米族", "塔吉克族", "怒族", "乌孜别克族", "俄罗斯族", "鄂温克族", 
            "德昂族", "保安族", "裕固族", "京族", "塔塔尔族", "独龙族", "鄂伦春族", "赫哲族", "门巴族", "珞巴族", "基诺族"];
    var option = "";
    for(var i = 0; i <
        nations.length; i++) {
        option += '<option value="' + i + '">' + nations[i] + '</option>';
    }
        $(option).appendTo("#nation");
    </script>
</html>